# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

#/API keys
/src/APIkeys/TDX.js
/src/APIkeys/MapKey.js

# production
/build
# img
/設計稿


